<%- include('./partials/header', {title: book.title}) %>

<main class="view">
    <h1><%= book.title %></h1>
    <p class="description">
        <%= book.description %>
    </p>
    <p class="authors">
        <%= book.authors %>
    </p>
</main>


<%- include("./partials/footer") %>
